html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(74,172,143,1) 0%, rgba(48,107,90,1) 35%, rgba(95,136,77,1) 100%);

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

.navigation {
  background: hsla(125, 65%, 65%, 0.76);
  padding: 12px;
  border-radius: 5px;
  margin: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.navigation__link {
  color: rgb(226, 226, 226);
  display: inline-block;
  margin-right: 15px;
}

.navigation__link--homepage {
  color: rgb(83, 83, 83);

}

.div {
  margin: 10px;
  background: hsl(195, 53%, 79%, 0.3);
  border-radius: 5px;
}
.main {
  max-width: 800px;
  margin: 0px auto;
}

.main__picture {
  display: flex;
  margin: 10px auto;
  border-radius: 4%;
  padding: 10px;
}

.main__heading {
  color: #dd1010;
}

.about__heading {
  align-items: center;
}

h1 {
  text-align: center;
  font-family: fantasy;
}

h2 {
  color: #1460aa;
}

p {
  color: rgb(37, 1, 1);
}

a {
  color: rgb(216, 46, 46);
  text-decoration: none;
}

.footer {
  color: darkred;
}