.main {
  background: rgb(255, 255, 195);
  max-width: 800px;
  margin: 0px auto;
}

.main__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
}

.main__heading {
  color: #dd6c10;
}

body {
  background: #f7f7ff;
}

.navigation {
  background: #08df1ac2;
  padding: 12px;
  border-radius: 5px;
}

.navigation__link {
  color: rgb(96, 139, 182);
  display: inline-block;
  margin-right: 15px;
}

.navigation__link--homepage {
    color: #000
}

h1 {
  text-align: center;
  color: navy;
}

h2 {
  color: #1460aa;
}

p {
  color: rgb(37, 1, 1);
}

a {
  color: rgb(230, 154, 14);
}

header a {
  color: darkorchid;
}

.special-header {
  color: black;
}

.footer {
  color: darkred;
}
